.btn1{
  padding:20px;
  margin:0px 0px 20px 0px;
  background-color:green;
  color:white;
  border-radius:20px;
  
}
.btn2{
  padding:20px;
  margin:0px 0px 20px 0px;
  background-color:red;
  color:white;
  border-radius:20px;
}
